/* PseudoSelectores */

:root{
    --blanco: #FFFFFF;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;

    

}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px; /* 1rem = 10px */
    font-family: "Krub", sans-serif;
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


.nav-bg{

 background-color: var(--secundario);

}
.navgacion-principal{
   display: flex;
   flex-direction: column;
   align-items: center;
}


@media (min-width: 480px){

}

@media (min-width: 768px) {
  .navgacion-principal{
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1140px){
    
}

@media (min-width: 1400px) {
  
}
 

.navgacion-principal a{
   color: var(--blanco);
   text-decoration: none;
   font-size: 2rem;
   font-weight: bold;
   padding: 1rem;
}

.navgacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}

 /* Lo que pongas por fuera de los media Queris se va aplicar desde el inicio y con los media
 querys puedes ir cambiando su comportamiento a medida de que vaya cambiendo la resolucion 
 
 
 body{
    background-color: green;
}

 Resusolucion para telefonos a partir de los 480px va aplicar estos estilos 

@media (min-width: 480px){
    body{
        background-color: lightblue;
    }
}

 Resusolucion para tablets partir de los 768px va aplicar estos estilos


@media (min-width: 768px){
   body{
    background-color: yellow;
   }
}
 */


 
 

