html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/** CODIGO AQUI **/

@media (min-width: 480px) {
  .column-drop-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Esto es para que se desborde hacia abajo si ya tenemos el 100% el espacio del contenedor padre */
    /* flex-wrap: wrap-reverse; wrap-reverse para ponder el contenido de abajo hacia arriba */
  }

  .contenido-principal{
    flex-basis: calc(50% - 1rem); /* Esto define el tamaño o lo que ocupa el elemento dentro del contenedor padre */
  }

  .primera{
    flex-basis: calc(50% - 1rem); /* Esto define el tamaño o lo que ocupa el elemento dentro del contenedor padre */
  }
}
@media (min-width: 768px) {
  .contenido-principal,
  .primera,
  .segunda{
    flex-basis: calc(33.3% - 1rem);
  }
}